src/main/mule/orchestration/account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	<flow name="create_account_sub_flow" doc:id="ebc649b5-695a-45b8-b13d-e433f3d5b82a" >
		<flow-ref doc:name="FlowRef to get country data" doc:id="167e9fc4-8f10-4838-998d-fa3807adacc7" name="get-country-data" target="countryData"/>
 		<set-variable value="#[payload.email]" doc:name="Store Email Address" doc:id="46eb6f5f-e313-4bb9-8a3a-4bb793d08cdd" variableName="email"/>
		<ee:transform doc:name="Input to Account Mapping" doc:id="9ed57d68-3021-400a-9e57-6972c853deed" >
			<ee:message >
				<ee:set-payload resource="dw/inputToAccount.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="FlowRef to create Salesforce account" doc:id="e55608cd-e342-49a6-a609-9ed77c2c4032" name="salesforce_create_sub_flow"/>
		<choice doc:name="Is Account Created?" doc:id="2f017ecc-58b2-439b-8691-4a478d16d1ad" >
			<when expression="#[payload.successful == true]">
				<logger level="INFO" doc:name="LOG SUCCESS" doc:id="83fb0a79-5d63-4cf1-ac2f-8e8eb937e367" message="MOBILE-ACCOUNT-API: ACCOUNT CREATED SUCCESSFULLY"/>
				<flow-ref doc:name="FlowRef to get by emailId" doc:id="8dbb4118-79f8-4c1c-8c60-544b3bda0b01" name="salesforce_get_by_emailId_sub_flow"/>
				<choice doc:name="Is Account Returned by email?" doc:id="69eec08f-e886-432c-b84d-535db32f636b" >
					<when expression="#[not (payload[0] == null)]">
						<ee:transform doc:name="Create Success Payload" doc:id="ddfd1074-68c2-49d8-bad1-569c3fb5073d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = payload[0]
---
{
	"id": account.id__c as String,
	"status": 0,
	"message": "Account created successfully"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Create Success Payload without ID" doc:id="adce3d58-7abb-4e11-85d5-e41d30a8b871" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var account = payload[0]
---
{
	"status": 0,
	"message": "Account created successfully. Due to Technical issues, we are not able to get the account details"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="LOG FAILURE" doc:id="4d1a2431-176d-4355-9336-ed8bb7f99f8d" message="MOBILE-ACCOUNT-API: ACCOUNT CREATION FAILED" />
				<ee:transform doc:name="Create Failure Payload" doc:id="1d681d3a-b0e7-4853-b843-835b37b603a6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "status": 1,
  "message": "Unable to Create Account: " ++ (payload.items[0].statusCode default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="Set Variable" doc:id="099da0ee-26b8-4b1f-8e73-a9289a9f77e9" variableName="httpStatus"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ffb77fc3-4502-4a0a-8a53-761274c44447" >
				<ee:transform doc:name="Create error payload" doc:id="9d489578-a8db-4bb6-8ed1-e7ad57374f98" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if ( payload.status == 1 ) 
	payload
else {
	"status": 1,
	"message": "TECH_002: Error from Orchestration Layer: " ++ (error.description default "")
}

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get_account_sub_flow" doc:id="d703ff81-ba5f-40ac-b619-bf6ee37b22fe" >
		<flow-ref doc:name="FlowRef to Salesforce get by accountId" doc:id="66f9caba-bcbd-4c28-8085-8b810e086047" name="salesforce_get_by_accountId_sub_flow"/>
		<choice doc:name="Check if an account Exists." doc:id="60a46668-8317-4fc2-8433-b3a7373b80f8" >
			<when expression="#[payload[0].emailAddress__c != null]">
				<ee:transform doc:name="SF Account to API Mapping" doc:id="9beb3813-5908-4d11-b8a3-f1da145ba97d" >
					<ee:message >
						<ee:set-payload resource="dw/AccountToApiResponse.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-variable value="404" doc:name="Set No Content Http Status" doc:id="2c9cf0d2-bffd-4df7-92f6-eb071c5e3f5e" variableName="httpStatus"/>
				<ee:transform doc:name="Set No User Found payload" doc:id="c8d4445a-169b-4d7f-8ed4-0b4631525254" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "status": 1,
  "message": "No User found with the given accountId"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2517b081-ac3e-48b7-a005-fa9c22ee75e3" >
				<ee:transform doc:name="Create error payload" doc:id="c816ba3e-dde2-4925-91f4-fe6e3a9cfb35" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if ( payload.status == 1 ) 
	payload
else {
	"status": 1,
	"message": "TECH_002: Error from Orchestration Layer: " ++ (error.description default "")
}

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
